USE [SistemaVendasMercado]
GO
/****** Objeto:  StoredProcedure [dbo].[sp_RegistarVenda]    Data do Script: 20/05/2026 20:35:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--  STORED PROCEDURE COM TRANSAÇÃO (ACID)

ALTER PROCEDURE [dbo].[sp_RegistarVenda]
    @ClienteID INT,
    @FuncionarioID INT,
    @ProdutoID INT,
    @QuantidadeVendida INT
AS
BEGIN
    SET XACT_ABORT ON;
    SET NOCOUNT ON;

    DECLARE @PrecoAtual DECIMAL(18,2);
    DECLARE @StockDisponivel INT;
    DECLARE @NovaVendaID INT;

    -- Buscar preço e stock atual
    SELECT @PrecoAtual = PrecoUnitario, @StockDisponivel = QuantidadeStock
    FROM Produtos
    WHERE ProdutoID = @ProdutoID;

    -- Validação: Se não houver stock chega de avançar
    IF @StockDisponivel < @QuantidadeVendida
    BEGIN
        RAISERROR('Erro: Stock insuficiente para realizar esta venda.', 16, 1);
        RETURN;
    END

    -- INÍCIO DA TRANSAÇÃO CONTROLADA
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Passo A: Criar cabeçalho da venda
        INSERT INTO Vendas (ClienteID, FuncionarioID, DataVenda, TotalVenda)
        VALUES (@ClienteID, @FuncionarioID, GETDATE(), 0);
        
        SET @NovaVendaID = SCOPE_IDENTITY();

        -- Passo B: Criar o detalhe da venda
        INSERT INTO DetalhesVenda (VendaID, ProdutoID, Quantidade, PrecoUnitario)
        VALUES (@NovaVendaID, @ProdutoID, @QuantidadeVendida, @PrecoAtual);

        -- Passo C: Atualizar o total da venda
        UPDATE Vendas
        SET TotalVenda = (@QuantidadeVendida * @PrecoAtual)
        WHERE VendaID = @NovaVendaID;

        -- Passo D: Retirar do Stock do Mercado
        UPDATE Produtos
        SET QuantidadeStock = QuantidadeStock - @QuantidadeVendida
        WHERE ProdutoID = @ProdutoID;

        -- SE CHEGOU ATÉ AQUI SEM ERROS, CONFIRMA TUDO
        COMMIT TRANSACTION;
        PRINT 'Transação Concluída com Sucesso! (COMMIT)';

    END TRY
    BEGIN CATCH
        -- SE DEU ERRO EM QUALQUER PASSO, DESFAZ TUDO PARA FICAR SEGURO
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
